<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728756108741-odbh9i4j1nej8rdttm5vqn14dve743bp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728756108741-odbh9i4j1nej8rdttm5vqn14dve743bp</string>
	<key>API_KEY</key>
	<string>AIzaSyBnPdn7RAf7MB6wB0J8rx-AXuSeEKNfjJU</string>
	<key>GCM_SENDER_ID</key>
	<string>728756108741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.modul1</string>
	<key>PROJECT_ID</key>
	<string>tubes-6995f</string>
	<key>STORAGE_BUCKET</key>
	<string>tubes-6995f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728756108741:ios:48ad5eb8c2452f1df3dfac</string>
</dict>
</plist>